@import '../../scss/global/global';

.movie-details {
    img {
        width: 100%;
    }
    h1 {
        padding-top: 0px;
        margin-top: 0px;
    }

    @include respond-to(xxs){
        h1{
            font-size: 20px
        }
    }
    @include respond-to(xs){
        h1{
            font-size: 20px
        }
    }

    h3 {
        margin-bottom: 5px;
    }

    @include respond-to(xxs){
        h3{
            font-size: 14px
        }
    }
    @include respond-to(xs){
        h3{
            font-size: 14px
        }
    }

    .link {
        background: $BLUE-A;
        display: block;
        color: $WHITE-A;
        border-radius: 50px;
        padding: 10px;
        text-align: center;
        margin-top: 10px;
    }

    ul.tags {
        li {
            display: inline-block;
            background: $BLACK-A;
            color: $WHITE-A;
            margin-right: 5px;
            padding: 2px;
            padding-left: 4px;
            padding-right: 4px;
        }
    }

    .grid-item {
        text-align: left;
    }

    .info-left {
        position: relative;
        .vote-average {
            position: absolute;
            background: $BLACK-A;
            background: $BLACK-A-T;
            color: $WHITE-A;
            padding-right: 10px;
            padding-left: 10px;
            border-radius: 50px;
            font-size: 16px;
            top: 5px;
            right: 5px;
        }
    }

    .info-right {
        padding-left: 15px;
        padding-right: 15px;
    }

    .production_companies {
        display: flex;
        box-sizing: border-box;
        grid-template-columns: 15%;
        grid-gap: 17px;
        justify-content: space-evenly;
        background: $GREY-A;
        margin-top: -5px;
        padding-top: 2px;
        padding-bottom: 2px;
    
        .grid-item {
            position: relative;
            flex-basis: 50px;
            align-items: center;
            display: inherit;
        }
    
        @include respond-to(xxs){
            grid-template-columns: 100%;
        }
        @include respond-to(xs){
            grid-template-columns: 100%;
        }
    }

    @include respond-to(xxs){
        margin-top: 0px;
    }
}