@import '../../../scss/global/global';


.movie {
    background: white;
    .image-container {
        position: relative;
        img {
            width: 100%;
        }
        .vote-average {
            position: absolute;
            background: $BLACK-A;
            background: $BLACK-A-T;
            color: $WHITE-A;
            padding-right: 10px;
            padding-left: 10px;
            border-radius: 50px;
            font-size: 12px;
            top: 5px;
            right: 5px;
        }
    }
    .title-container {
        font-weight: bold;
        padding-bottom: 5px;
    }

    &:hover {
        box-shadow: 0px 0px 10px $GREY-A;
        @include transition(all 0.5s ease-in-out);
        transform: scale(1.2);
        background: $BLACK-A;
        z-index: 1;
        a {
            color: $WHITE-A;
        }

        @include respond-to(xxs){
            transform: scale(1);
        }
        @include respond-to(xs){
            transform: scale(1);
        }
    }
}